#chrisName {
  color: aqua;
  text-transform: capitalize;
}

.alert {
  margin-bottom: 0;
}

.toast {
  margin-top: 1rem;
}

.navbar-brand {
  font-size: 1rem;
}

.jumbotron {
  background-color: #354257;
  height: 80vh;
  margin-bottom: 0;
}

#while {
  color: plum;
}

.bracket {
  color: orange;
}

#true {
  color: pink;
}

#iletter {
  color: aqua;
}

#you {
  color: #e35b5b;
}

#idot {
  color: wheat;
}

#love {
  color: #fce803;
}

#iloveyoublock {
  margin-left: 2rem;
}

#footer {
  background-color: #354257;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer-content {
  padding: 2rem;
}
